@import "semantic-ui";

.chatui {
  height: 350px
}

// background-image:url('/assets/images/class.jpg')
body {
  background: #606c88;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3f4c6b, #606c88); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.classimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
border-radius: 15px 50px
}

#messages {
  overflow: auto;
  height: 15px
}
